.add-form {
  display: flex;
  flex-direction: column;
}

.add-input {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
}

.add-button {
  margin-top: 10px;
  color: #f9b16e;
}
