@value mediaQuery from '../../common/size.css';
@value makerLightGrey from '../../common/colors.css';

.maker {
  width: 100%;
  max-width: 100rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  overflow-y: auto;
  display: flex;
  flex: 1;
}

.bar {
  background-color: makerLightGrey;
  height: 100%;
  width: 0.2em;
}

@media screen and (max-width: mediaQuery) {
  .container {
    flex-direction: column;
  }
}
