.container {
  width: 50%;
}

.container.gird {
  display: grid;
}

.container_list {
  display: list-item;
}

.video {
  display: flex;
  align-items: center;
  border: 1px solid lightgrey;
  margin: 0.4em;
  cursor: pointer;
  transition: all 0.2s;
}

.video:hover {
  transform: scale(1.02);
}

.thumbnail {
  width: 40%;
  height: 100%;
}

.title,
.channel {
  margin: 0;
}

.info {
  margin-left: 0.2em;
}
