@value makerGreen, makerWhite from "../../common/colors.css";

.header {
  padding: 0.4em;
  position: relative;
  width: 100%;
  background-color: makerGreen;
}

.logo {
  width: 4em;
}

.title {
  color: makerWhite;
  font-size: 2.2rem;
  margin: 0;
}

.logout {
  position: absolute;
  top: 10px;
  right: 10px;
}
