@value makerGreen, makerWhite, makerBlack, makerWheat from "../../common/colors.css";

.header {
  text-align: center;
  padding: 0.4em;
  position: relative;
  width: 100%;
  background-color: makerGreen;
}

.logo {
  width: 4em;
}

.title {
  color: makerWhite;
  font-size: 2.2rem;
  margin: 0;
}

.logout {
  position: absolute;
  top: 1em;
  right: 1em;
  padding: 0.8em;
  outline: 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: makerBlack;
  color: makerWhite;
  transition: all 0.2s;
}

.logout:hover {
  background-color: makerWheat;
  color: makerBlack;
}
