section {
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
}

.header {
  color: #f9b16e;
  display: flex;
  justify-content: space-between;
}

.container {
  background-color: #f5ecea;
  border-radius: 20px;
  padding: 1.2rem;
  border: 1px solid #f5ecea;
  width: 330px;
  height: 650px;
  box-shadow: rgba(0, 0, 0, 0.15) 7px 7px 7px;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}
