@value makerWhite from '../../common/colors.css';

ul {
  padding: 0 1.2em;
}

.preview {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  background-color: makerWhite;
}

.title {
  text-align: center;
}
