@value makerBlack, makerWhite from '../../common/colors.css';

.section {
  text-align: center;
  border: 1px solid makerBlack;
  background-color: makerWhite;
}

.ul {
  list-style: none;
  padding: 0;
}

.button {
  border: 1px solid makerBlack;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
  padding: 0.4em;
  margin: 0.2em;
  width: 80%;
}

.button:hover {
  background-color: wheat;
}
